body {
  background-color: #FBFAE5;
  color: black;
  margin: 0;
  font-size: 18px;

}
header {
  font-size: 20px;
  background-color: #4D9140;
  color: #FBFAE5;
  height: max-content;
  text-align: center;
}

h1 {
  padding: 7px;
  margin: 15px;
  font-size: 32px;
  text-align: center;
  font-family:'Courier New', Courier, monospace 
}

h2 {
  /* padding: 10px; */
  margin: 10px;
  font-size: 32px;
  text-align: center;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin: auto;
  padding-top: 15 px; 
  line-height: 1.5; 
}

nav li {
  padding-left: 1rem;
  padding-right: 2rem;
  margin: auto;
  text-align: center;
}

p {
  text-align: center;
  padding: 10px;
  margin: auto;
}


main {
  width: 99%;
  margin: auto;
}

#home-start {
  width: max-content;
  margin: auto;
  padding-top: 0%;
  padding-bottom: 5%;
}

#home-start button {
  align-items: center;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #FBFAE5;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}


#home-start button:hover {
  background-color: #555;

}

#start-quiz {
  width: max-content;
  margin: auto;
  padding-top: 0%;
  float: inline-start;

}

#start-quiz button {
  align-items: center;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color:#FBFAE5;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#start-quiz button:hover {
  background-color: #555;

}

a {
  color:#FBFAE5;
  text-align: center;
}

#home-imgs {
   padding-top: 6%;
  padding-bottom: 12%;
  height: 10vw;
  width: max-content;
  margin: auto;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
}

tr>img {
  height: 200px;
  width: 200px;
}

tr {
  width: 200px;
}

tr>img:hover {
  border: 2px solid #4d9140;
}

#quiz-images {
  padding-top: 1%;
  padding-bottom: 1%;
  margin: auto;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* style sheet 2 */

.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: #E5E2B6;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #FBFAE5;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card img {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 250px;
  height: auto;
  padding-top: 30px;
}

.container {
  padding: 16px;
}

.card img {
  display: block;
  margin: 0 auto;
  width: px;
  height: 280px;
}

.team-heading {
  margin: 1px;
  font-size: 30px;
  text-align: center;
}