body {
  background-color:  #FBFAE5;
  color: black;
  
}

header {
  font-size:  20px;
  background-color: #4D9140;
  color: #FBFAE5;
  width: 100%;
}

h1 {
  padding: 20px;
  margin: 10px;
  font-size: 32px;
  text-align: center;
}

h2{
  padding: 20px;
  margin: 10px;
  font-size: 32px;
  text-align: center;
}

nav {
  display: flex;
  padding: 2rem 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: auto;
}

nav li {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;

}

p {
  text-align: center;
}


main{
  align-items: center;
}

#home-start {
 
  display: flex;
  justify-content: space-around;
  color: #87C7F1;
}

#start-test {
  display: flex;
  justify-content: space-around;
  color: #87C7F1;
  padding-top:25%
}

#end-of-test {
  display: flex;
  justify-content: space-around;
  color: #87C7F1;
  padding-top:20%
}


section {
  padding: 10px;
  display: flex;
  margin: auto;
}

#home-imgs {
  height: 10vw;
  width: 100%;
  padding: 5px;
  margin: auto;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(5, 10px [col-start]);
  
}

 #test-imgs{
  height: 10vw;
  width: 100%;
  padding: 5px;
  margin: auto;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(10, 10px [col-start]);
}

footer {
  text-align: center;
  background-color: #258F28;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 30px;
  padding:10px 10px 0px 10px;
  margin-bottom:-130px ;
  text-align: center;
}

/* style sheet 2 */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: #E5E2B6; 
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card img {
  display: block;
  margin: 0 auto;
  width: 80%; 
  max-width: 250px; 
  height: auto;
}

.container {
  padding: 16px;
}

.aboutUsSection  {
  font-size: 24px;
}

.card img {
  display: block;
  margin: 0 auto;
  width: px; 
  height: 280px; 
}


