body {
  background-color: #FBFAE5;
  color: black;
  margin: 0;
  font-size: 18px;

}
header {
  font-size: 20px;
  background-color: #4D9140;
  color: #FBFAE5;
  height: max-content;
  text-align: center;
}

h1 {
  padding: 7px;
  margin: 15px;
  font-size: 32px;
  text-align: center;
  font-family:'Courier New', Courier, monospace 
}

h2 {
  /* padding: 10px; */
  margin: 10px;
  font-size: 32px;
  text-align: center;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin: auto;
  padding-top: 15 px; 
  line-height: 1.5; 
}

nav li {
  padding-left: 1rem;
  padding-right: 2rem;
  margin: auto;
  text-align: center;
}

p {
  text-align: center;
  padding: 2vw;
  margin: auto;
}


main {
  width: 90%;
  margin: auto;
}

#home-start {
  width: max-content;
  margin: auto;
}

#home-start button {
  align-items: center;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #FBFAE5;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}


#home-start button:hover {
  background-color: #555;

}

#start-quiz {
  width: max-content;
  margin: auto;
  padding-top: 0%;
  float: inline-start;

}

#start-quiz button {
  align-items: center;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color:#FBFAE5;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

#start-quiz button:hover {
  background-color: #555;

}

a {
  color:#FBFAE5;
  text-align: center;
}

#home-imgs {
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin: auto;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
}

tr > img {
  height: 200px;
  width: 200px;
}

tr {
  padding: 1vw;
  transition: 350ms;
}

tr > img:hover {
  border: 2px solid #4d9140;
}

td {
  text-align: center;
  vertical-align: middle;
  padding: .2vw;
}

tr > tr > td:nth-child(1) {
  font-weight: 600;
}

#home-imgs > tr > tr {
  padding: 1vw;
  display: flex;
  justify-content: center;
}

#quiz-images > tr {
  width: 14vw;
  display: flex;
  flex-direction: column;
}

#quiz-images > tr > tr {
  padding: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#quiz-images {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#start-quiz > button > a{
  text-decoration: none;
}

.correct {
  background: #4D9140;
}

.nicetry {
  background: #8F8F8F;
}

/* style sheet 2 */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: #E5E2B6;
  width: 300px;
  display: inline;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #FBFAE5;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card img {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 250px;
  height: auto;
  padding-top: 30px;
}

.container {
  padding: 16px;
}


.team-heading {
  margin: 1px;
  font-size: 30px;
  text-align: center;
}

